@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
	--background: #070706;
	--orange: #feae5f;
	--lime: #d5e279;
	--purple: #aa9dc8;
	--red: #fa886f;
	--blue: #71caf1;
	--green: #75c57d;
	--pink: #ff7cc3;
	--light: #fbfbfb;
	--secondary: #f6f6f6;
	font-size: 20px;
}
html {
	height: 100%;
}

* {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background: var(--background);
	color: var(--light);
	min-height: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.nav {
	color: var(--light);
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

.brand {
	font-size: 2rem;
	font-weight: 400;
}

.btn {
	background: #ffffff1a;
	color: var(--light);
	min-height: 2.5rem;
	min-width: 2.5rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.createBtn {
	background-color: var(--lime);
	border: 1px solid #00000031;
	position: sticky;
	bottom: 3rem;
	left: 95%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 25rem;
	box-shadow: 0px 0px 10px 4px #00000040;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
}

.card {
	background-color: var(--light);
	border-radius: 0.7rem;
	padding: 0.8rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--background);
	width: 90%;
}
.card-date {
	font-size: 0.7rem;
	color: #00000099;
	margin-top: 0.5rem;
}

.bg1 {
	background-color: var(--red);
}

@media (min-width: 600px) {
	.container {
		max-width: 20rem;
	}
}
