@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
	--background: #070706;
	--orange: #feae5f;
	--lime: #d5e279;
	--purple: #aa9dc8;
	--red: #fa886f;
	--blue: #71caf1;
	--green: #75c57d;
	--pink: #ff7cc3;
	--light: #fbfbfb;
	--secondary: #f6f6f6;
	font-size: 20px;
}
html {
	height: 100%;
}

* {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0 1rem;
	font-size: 0.8rem;
}

body {
	background: var(--background);
	color: var(--light);
	min-height: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.nav {
	color: var(--light);
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

.brand {
	font-size: 2rem;
	font-weight: 400;
}

.btn {
	background: #ffffff1a;
	color: var(--light);
	min-height: 2.5rem;
	min-width: 2.5rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.createBtn {
	background-color: #eaf9ae;
	backdrop-filter: blur(5px);
	border: 1px solid #0000003d;
	position: sticky;
	bottom: 3rem;
	left: 95%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 25rem;
}

/* .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
	justify-content: center;
	align-items: center;
} */
.grid {
	display: flex;
	flex-wrap: wrap;
}
.grid > * {
	flex: 1 1 50%;
	height: max-content;
}
.grid > *:nth-of-type(5n) {
	flex: 1 1 45%;
}
.grid > *:nth-of-type(3n) {
	flex: 1 1 40%;
}

.card {
	background-color: var(--light);
	border-radius: 0.7rem;
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.25rem;
	height: max-content;
}

.card-title {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--background);
	width: 90%;
}
.card-date {
	font-size: 0.7rem;
	color: #00000099;
	margin-top: 0.5rem;
}

.show-title {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	width: 95%;
	line-height: 1.8rem;
}
.show-date {
	font-size: 0.8rem;
	color: #c6c6c6;
	margin-bottom: 0.5rem;
}
.show-note {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--secondary);
}

.form-title {
	width: 100%;
	background: transparent;
	color: var(--light);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 1.8rem;
	font-weight: 400;
	outline: none;
	border: none;
}
.form-note {
	width: 100%;
	height: 80vh;
	font-size: 0.9rem;
	background: transparent;
	color: var(--light);
	margin-bottom: 1rem;
	font-weight: 400;
	outline: none;
	border: none;
	resize: none;
}

/* scroll bar styles */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #00000000;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.137);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.349);
}

/* media queries */
@media (min-width: 600px) {
	.container {
		max-width: 20rem;
	}
}
